/*
 * ADC channel 0 on AIN2 (P0.04).
 * Wire a potentiometer wiper or analog signal to P0.04.
 * Voltage range: 0 to ~3.6V with 1/6 gain and internal reference.
 */
/ {
	zephyr,user {
		io-channels = <&adc 2>;
	};
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@2 {
		reg = <2>;
		zephyr,gain              = "ADC_GAIN_1_6";
		zephyr,reference         = "ADC_REF_INTERNAL";
		zephyr,acquisition-time  = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive    = <NRF_SAADC_AIN2>;
		zephyr,resolution        = <12>;
	};
};
