/*
 * PWM output on LED1 (P0.13) of the nRF52840 DK.
 * Change the pin in pwm0_default to target a different GPIO.
 */
/ {
	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "PWM LED";
		};
	};

	aliases {
		pwm-led0 = &pwm_led0;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			/* LED1 on nRF52840 DK = P0.13 (active-low, hence INVERTED) */
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
		};
	};
};
